body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    top: 150px;
}

.container {
    text-align: center;
    position: relative;
}

#logo {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

p {
    position: relative;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 600px) {
    #under-construction {
        top: calc(100% + 10px);
        font-size: 14px;
    }

    #logo {
        width: 80%;
    }
}
